body{
    background-color: rgb(45, 784, 451);
}
#nombre {
    font-size: 70px;
    font-weight: bold;
    color: rgb(150, 145, 324);
    text-align: center;  
    font-weight: bold;  
}

figure { 
    text-align: center;
    margin-top: 70px;    
}

.left {
    text-align: left;
}

.center {
    text-align: center;
    margin: 0 auto      ;
}

ul {
    width: 200px;
    
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
}

li {
    list-style: none;
}
